<div class="container">
    <h1 class="text-center">Your Podcast Categories</h1>
    <p class="text-center">
      <a href="/categories">Favorites</a>
    </p>
      <div class="well">
       
        <form method="POST" action="/categories">
          <input hidden type="text" name="name" value="sdf">
          <button type="submit">Add to Existing Category</button>
        </form>
      </div>
  </div>