body {
width: 100%;
margin: 0;
}

nav {
display:table;
position: relative;
width: 100%;
height: 60px;
background: #EBA947;
font-family: Fugaz One, cursive;
color: white;
}
.title{
font-size:36px;
float: left;
padding: 10px 30px;
} 

.loginnav {
font-family: Fugaz One, cursive;
color: white;
position: inline;
float: right;
font-size: 18px;
padding: 10px 10px;
}
.authlink {
  padding: 10px;
  color:white;
}

.usernav {
position: relative;
float: left;
width: 100%;
height: 40px;
background: #6fcde2;
font-family: Fugaz One, cursive;
color: #FFFFFF;
}
.userlink {
display: relative;
position: inline;
color: white;
padding: 10px 10px;
font-size: 24px;
}

.bodyElements {
background:rgb(204, 204, 204);
width: 70%;

margin: 5% 15% 5% 15%;
border-radius: 15px 15px 15px 15px;
border-style:solid;
border-color:lightgray;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:rgb(63, 62, 62);
font-size:18px;
}

table {
  width: 100%;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

td {
  padding: 8px 8px;

}

