 nav {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
  
  background: #EBA947;
 }
 
 ul li {
  position: relative;
width: 300px;
height: 53px;
left: 80%;
top: 10%;

font-family: Fugaz One, cursive;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 53px;
/* identical to box height */


color: #FFFFFF;
}

h1 {
  color:darkcyan
}

h2 {
position: relative;
width: 800px;
height: 84px;
left: 5%;
top: 2%;

font-family: Fugaz One, cursive;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 70px;

color: #FFFFFF;
}