<table>
    <tr>
        <th>Categories</th>
    </tr>

    <tr>
        <td>
            <%= currentCat.name %>

                <% if (currentCat.podcasts) { %>
                    <% currentCat.podcasts.forEach(function(catPodcast) { %>
                        <div>
                            <a href="<%= catPodcast.podcastUrl %>">
                                <%= catPodcast.podcastName %>
                            </a>
                        </div>
                        <% })%>
               <% }%>
        </td>
    </tr>
</table>