<h1>
    <%= currentCat.name %>
</h1>
<table>
    <tr>
        <th>Added Podcasts</th>
    </tr>

    <tr>
        <td>

            <% if (currentCat.podcasts) { %>
                <% currentCat.podcasts.forEach(function(catPodcast) { %>
                    <div>
                        <a href="<%= catPodcast.podcastUrl %>">
                            <%= catPodcast.podcastName %>
                        </a>
                    </div>
                    <% })%>
                        <% }%>
        </td>
    </tr>
</table>