<%= currentCat.name %>

    <% if (currentCat.medias) {%>
        <% currentCat.medias.forEach(function(catMedia) { %>
            <div>
                <%= catMedia.mediaName %>
            </div>
            <% })%>
                <% }%>